<style>
  a{
    font-size: 110%;
  }
</style>


<ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a class="nav-link active" href="#"> <i class="fas fa-home"></i> Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/links/add"> <i class="far fa-plus-square"></i> Nuevo Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/links"> <i class="fas fa-eye"></i> Visualizar Links</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Ayuda <i class="far fa-question-circle"></i></a>
  </li>
</ul>